nav{
      display: flex;
      flex-direction: column;
      padding: 1rem 0.5rem;
      gap: 0.7rem;
}

nav div{
      display: flex;
      justify-content: space-between;      
}

nav select {
      width: 100%;
}

main{
      padding-left: 0.5rem;
      padding-right: 0.5rem;
}
.companies {
      display: flex;
      flex-wrap: wrap;
      padding-right: 0.5rem;
      justify-content: space-between;
      gap: 1rem;
      margin: 1rem auto;
      width: 90%;
}


.companies li {
      background-color: var(--color-grey-4);
      padding: var(--size-4);
      border-radius: var(--radius-2);
      display: flex;
      flex-direction: column;
      gap: 0.4rem;
      /* margin: 0.5rem auto; */
      border: 2px solid transparent;
      cursor: pointer;
      position: relative;
}

.companies li:hover {
      border-color: var(--color-primary);
}

.carrossel {
      flex-wrap: nowrap;
      overflow-x: auto;
      gap: 1rem;
      margin: 0;
}

.carrossel li {
      min-width: fit-content;
      max-width: max-content;
      border-color: var(--color-grey-3);
      margin: 0.6rem 0;
}

.no-side-margin {
      margin-left: 0;
      margin-right: 0;
      width: 100%;
}

.no-side-margin li{
      width: 95%;
}



.modal {
      margin: 0;
      height: 100vh;
      width: 100vw;
      position: fixed;
      top: 0;
      left: 0;
      background-color: var(--color-primary-opacity);
}

.modal div {
      width: 80%;
      margin: 10rem auto;
      display: flex;
      flex-direction: column;
      gap: var(--gap-2);
}

.modal div form {
      display: flex;
      flex-direction: column;
      gap: var(--gap-3);
}

.modal div form input::placeholder {
      font-size: var(--font-text-3);
      font-weight: var(--font-weight-3);
}

.color{
      background-color: var(--color-primary-opacity);
      border-color: var(--color-primary-opacity);
      /* color: var(--color-white) */
}