.button-default{
    height: var(--size-1);
    width: max-content;
    padding: 0 var(--paddingInlineButton);
    font-weight: var(--font-weight-1);
    font-size: var(--font-text-1);
    background-color: var(--color-grey-4);
    border: 2px solid var(--color-grey-4);
    color: var(--color-grey-2);
    border-radius: var(--radius-1);
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}
.button-default:hover{
    background-color: var(--color-primary);
    color: var(--color-white);
    border-color: var(--color-primary)
}

.button-2{
    height: var(--size-2);
    padding: 0 var(--paddingInlineButton2);
}

.button-3{
    height: var(--size-3);
    padding: 0 var(--paddingInlineButton3);
    font-size: var(--font-text-2);

}

.button-width{
    width: 100%;
}

.button-close{
    position: absolute;
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    border: 1px solid transparent;
    top: 0;
    right: 0;
    background-color: var(--color-grey-4);
    cursor: pointer;
    font-size: 1.5rem;
}

.button-close:hover{
    background-color: var(--color-primary);
}

.img-edit{   
    
    width: 2rem;
    height: 2rem;
    position: relative;
    
}

