header{
      background-color: var(--color-grey-2);
      padding: var(--gap-3);
      display: flex;
      gap: var(--gap-5);
      justify-content: flex-end;
}

main{
      width: 80%;
      margin: var(--gap-5) auto;
}

section{
      margin: var(--gap-5) auto;
}

select{
      margin-bottom: 1rem;
}

ul{
      display: flex;
      flex-direction: column;
      gap: 1.5rem;
      overflow-y: auto;
      max-height: 63vh;
}

ul li{
      background-color: var(--color-grey-4);
      width: 95%;
      padding: var(--size-4);
      border-radius: var(--radius-2);
      display: flex;
      flex-direction: column;
      gap: 0.4rem;
      border: 2px solid transparent;
}

ul li:hover{
      border-color: var(--color-primary);
}

.modal{
      margin: 0;
      height: 100vh;
      width: 100vw;
      position: fixed;
      top: 0;
      left: 0;
      background-color: var(--color-primary-opacity);      
}

.modal div{
      width: 80%;
      margin: 10rem auto;
      display: flex;
      flex-direction: column;
      gap: var(--gap-2);
}

.modal div form{
      display: flex;
      flex-direction: column;
      gap: var(--gap-3);
}
